:root {
  --font-family: "Poppins", sans-serif;
  --font-code: "JetBrains Mono", monospace;
  --font-roboto: "Roboto", sans-serif;
  --font-logo: var(--font-family);

  --text: 400 1rem/1.6 var(--font-family);
  --text-code: 100 1rem/1 var(--font-code);
  --text-logo: 700 1.5rem var(--font-logo);

  --color-text: #f5f5f5;
  --color-text-highlighted: #60a5fa;
  --color-bg-itens: #272727;
  --color-bg-itens-dark: #1f1f1f;
  --color-bg: #121212;
  --color-link: #34d399;
  --color-link-hover: #6ee7b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font: var(--text);
  min-height: 100dvh;
}

main {
  padding-inline: 3rem;
  max-width: 62.5rem;
  height: 100%;
  margin: auto;
}

footer {
  font: var(--text-code);
}

h2 {
  color: var(--color-text-highlighted);
}

html {
  scroll-behavior: smooth;
}

/* barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-itens);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-itens-dark);
}
