.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;

  & .name {
    font-size: 4rem;
    color: var(--color-text);
    text-align: center;
  }

  & .slogan {
    margin-bottom: 1rem;
  }

  & .technologies {
    text-align: center;
    color: var(--color-text-highlighted);
    font-weight: 500;

    & .title {
      margin-bottom: 0.5rem;
    }

    & .carousel-container {
      width: 50rem;
      max-width: 90dvw;
      height: 3.135rem;
      overflow: hidden;
      display: flex;
      align-items: center;

      & .carousel-stacks {
        display: flex;
        width: max-content;
        animation: scroll linear infinite;
        gap: 1rem;

        &:hover {
          animation-play-state: paused;
        }

        & .stack {
          background: var(--color-bg-itens);
          display: flex;
          align-items: center;
          height: 2.85rem;
          padding-inline: 1.25rem;
          border-radius: 1.25rem;
          font-weight: 500;
          white-space: nowrap;

          @media (hover: hover) {
            &:hover {
              transform: scale(1.1);
              transition: transform 0.1s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--scrollWidth)));
  }
}
